.productList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 3rem;
    margin-bottom: 4rem;
    z-index: 5;
}
.showProduct{
    text-align: center;
    margin: 4rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.showProduct img{
   display: flex;
   width: 1.8rem;
}
.showProduct.showProduct-less{
    flex-direction: row-reverse;
}
.showProduct.showProduct-less img{
    transform: rotateY(180deg);
 }