.justforyou-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.justforyou {
  width: 100vw;
  overflow-y: hidden;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  padding: 2rem 3rem;
}
.justforyou::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width:600px) {
  .justforyou{
    justify-content: flex-start;
    gap: 1rem;
  }
}
@media screen and (min-width:800px) {
  .justforyou{
    justify-content:center;
    gap: 1rem;
  }
}