.justforyou-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.justforyou {
  width: 100vw;
  overflow-y: hidden;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.justforyou::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width:800px) {
  .justforyou{
   justify-content: center;
  }
}