.open-fashion-app {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  padding-bottom: 10rem;
}
/* cover  */
.cover-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../../assets/cover.png") no-repeat 30% 0%;
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.cover-container.hide {
  display: none;
}
.big-cover-container {
  display: none;
}
.small-cover-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.small-cover-text {
  font-size: 3.8rem;
  font-family: sans-serif;
  line-height: 4.3rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.12rem;
  font-style: italic;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
}
.cover-link {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 0.8rem 3rem;
  backdrop-filter: blur(4px);
  max-width: 40rem;
}
.cover-link h1 {
  color: #fcfcfc;
}
.small-cover-text :nth-child(even) {
  padding-left: 2rem;
}
.cover-container img {
  width: 100vw;
  height: 100vh;
}
/* end cover */

.open-fashion-app-title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.product-category {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.product-category .category-title {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.category-title.active {
  opacity: 1;
}
.category-title {
  position: relative;
  display: flex;
  justify-content: center;
}
.category-title span {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  transform: rotate(-225deg);
  bottom: -0.7rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.category-title.active span {
  opacity: 1;
}
/* brands */
.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  margin: 2rem auto;
}
.brands span {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands img {
  width: 10rem;
}

/* collections */
.collections {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  margin-top: 2rem;
  justify-content: center;
}
.collection-autumn {
  background: url("../../assets/collection2.png") no-repeat center center;
  width: 100%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
}
.collection-autumn :nth-child(1) {
  font-style: italic;
  font-weight: 700;
  font-size: 41.8646px;
  line-height: 63px;
  letter-spacing: -1px;
  color: #333333;
  opacity: 0.8;
  position: absolute;
  top: 10px;
  left: 150px;
}
.collection-autumn :nth-child(2) {
  position: absolute;
  top: 60px;
  left: 170px;
  font-weight: 400;
  font-size: 11.3221px;
  line-height: 25px;
  letter-spacing: 5.30721px;
  text-transform: uppercase;
  color: #333333;
}

/* trending */
.trending {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  row-gap: 2rem;
  margin-top: 3rem;
}
.trending-hashtags {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.trending-hashtags span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
}

/* store-details */

.store-detail {
  max-width: 60rem;
  background-color: #f2f2f2;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  row-gap: 2rem;
  margin-top: 2rem;
}
.store-detail-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #555555;
  width: 80%;
  opacity: 0.5;
}
.store-detail-sticker-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  row-gap: 2rem;
}
.store-detail-sticker {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.store-detail-sticker span {
  width: 80%;
  text-align: center;
}

/* group section */
.group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  margin-top: 3rem;
}
.group-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
@media screen and (min-width: 600px) {
  .small-cover-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .cover-container {
    background: url("../../assets/coverBig.png") no-repeat 60% 0rem;
    background-size: cover;
    max-width: 1398px;
  }
  .big-cover-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
    justify-content: center;
    margin-top: 10rem;
    row-gap: 4rem;
  }
  .big-cover-img {
    width: 20rem !important;
    height: 10rem !important;
    margin-right: 4rem;
  }

  .big-cover-text {
    width: 25%;
    color: #fcfcfc;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
  }
  .small-cover-container {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  
  .cover-container {
    background: url("../../assets/coverBig.png") no-repeat 60% 3rem;
  }
  .brands {
    max-width: 70rem;
  }
  .brands span {
    width: 20rem;
  }
  .brands img {
    width: 15rem;
  }
}
