.open-fashion-app{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}
.open-fashion-app-title{
    letter-spacing: .3rem;
    margin-bottom: .5rem;
}
.product-category{
    margin:2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.product-category .category-title{
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease-in-out;
}
.category-title.active{
    opacity: 1;
}
.category-title{
    position: relative;
    display: flex;
    justify-content: center;
}
.category-title span{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: red;
    transform: rotate(-225deg);
    bottom: -.7rem;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.category-title.active span{
opacity: 1;
}
 /* brands */
 .brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 2rem auto;
}
.brands span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands img{
    width: 9rem;
}