.checkout-container {
  width: 100%;
  margin-top: 3.5rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.checkout-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.5rem;
  margin-top: 1rem;
  padding: .7rem 0;
}
.checkout-info p {
  font-size: 1.2rem;
  opacity: 0.6;
}
.checkout-body {
  margin: 2rem 0;
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.checkout-body::-webkit-scrollbar {
  display: none;
}
.checkout-item {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 2.5rem;
}
.checkout-item img {
  width: 10rem;
  height: 12.4rem;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px 1px rgba(17, 17, 17, 0.123);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
}
.checkout-item-desc {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.2rem;
  padding-top: 0.5rem;
}
.checkout-item-qty {
  display: flex;
  width: 40%;
  justify-content: start;
  font-size: 1.4rem;
  gap: 1.6rem;
  align-items: center;
}
.checkout-item-qty :nth-child(odd) {
  width: 2rem;
  padding: 0.2rem 1rem;
  border: 1px solid #eee;
  border-radius: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-item-qty :nth-child(1) {
  color: rgb(253, 4, 4);
}
.checkout-item-price {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 0, 0, 0.936);
}

.checkout-voucher,
.checkout-delivery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  padding-left: 3rem;
  gap: 2rem;
}
.checkout-voucher input {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
}
.checkout-voucher input::placeholder {
  font-size: 1.4rem;
  color: #000;
  font-family: "tenor";
}
.checkout-voucher input:focus {
  border: 1px solid rgb(238, 238, 238);
  padding-left: 1rem;
}
.checkout-delivery span {
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.checkout-border {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #000;
  opacity: 0.1;
}
.checkout-summery {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}
.checkout-total {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-total-price {
  font-size: 1.6rem;
  font-weight: 400;
  color: #dd8560;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  border-radius: 0;
}
.checkout-btn p {
  font-family: "tenor";
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (min-width: 1000px) {
  .checkout-container{
    margin-top: 6.5rem;
    padding: 0 5rem;
  }
  .checkout-btn{
    max-width: 140rem;
  }
}
