.footer-container {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 10vh;
}
.footer-social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem 0;
}
.footer-address {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 2rem 0;
}
.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}
.footer-copyright {
  background-color: #c4c4c4;
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copyright p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem 0;
}

@media screen and (min-width: 800px) {
  .footer-links {
    justify-content: center;
    gap: 10rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer-links {
    gap: 20rem;
  }
}
