.header-container{
  max-width: 141rem;
}

.navbar {
  max-width: 140rem;
  height: 60px;
  position: fixed;
  background-color: var(--color-navbar);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 1.4rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
}
.navbar.hidden {
  display: none;
}
.navbar-icon {
  width: 100%;
  flex: 1;
}
.navbar-icon img {
  cursor: pointer;
  width: 2.4rem;
}
.navbar-logo {
  cursor: pointer;
  height: 100%;
  flex: 9;
}
.navbar-logo img {
  cursor: pointer;
  width: 7.8rem;
  height: 3.2rem;
}
.menu-list {
  background-color: var(--color-white);
  padding: 1.7rem;
  opacity:0 ;
  height: 10vh;
  flex: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  padding: 2.5rem;
  z-index: -1;
}
.menu-list.show {
  z-index: 11;
  opacity: 1;
  height: 100vh !important;
}
.menu-list-titles {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
  cursor: pointer;
}
.title {
  width: 100%;
}
.underline {
  width: 90%;
  margin-top: 1.5rem;
  height: 2px;
  background-color: #eee;
  position: relative;
}
.selected {
  position: relative;
  width: 20%;
  height: 2px;
  background-color: #dd8560;
  top: 0px;
  left: 0%;
  transition: all 200ms ease-in-out;
}
.selected.women {
  left: 0%;
}
.selected.man {
  left: 34%;
}
.selected.kids {
  left: 71%;
}
.selected span {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #dd8560;
  left: 45%;
  transform: rotate(45deg);
  top: -0.25rem;
}

.item-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  cursor: pointer;
}
.item-list {
  width: 100%;
}
.arrowDown {
  width: 2.4rem;
  opacity: 50%;
  transition: all 200ms ease-in-out;
}
.arrowDown.rotate {
  transform: rotateX(180deg);
}
.item-list li {
  font-size: 1.6rem;
  line-height: 4.5rem;
  padding: 0 2rem;
  height: 0;
  opacity: 0;
}
.item-list.show li {
  height: max-content;
  opacity: 1;
  z-index: 1;
}

.address-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 5rem;
}
.address-container img {
  width: 2.4rem;
  margin-bottom: 1rem;
}
.call,
.location {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
}
.social {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3.5rem;
  cursor: pointer;
}
/* when menu opened disable scroll page */
.fixed-position{
  position: fixed;
  width: 100%;
}

/* shopping bag  */

.navbar-icon.shoppingBag {
  position: relative;
}
.carts-qty{
  position: absolute;
  left: 0;
  right: 0;
  top:.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #dd8560;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:452px){
  .navbar-logo {
    flex: 15;
  }
}
@media screen and (min-width:800px){
  .header-container{
    position: relative;
    max-width: 141rem;
  }
  .navbar-logo {
    flex: 20;
  }
  .menu-list {
    width: 0%;
    height: 100vh;
  }
  .menu-list.show {
    width: 45%;
    z-index: 11;
    opacity: 1;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  .fixed-position{
    position: unset;
    width: 100%;
  }
}
@media screen and (min-width:1000px){
  .navbar-logo {
    flex: 30;
  }
  .menu-list.show{
    width: 50rem;
    left: auto;
  }
}

