.homepage{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-title{
    letter-spacing: .3rem;
    margin-bottom: .5rem;
}
.product-category{
    margin:2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
.productList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 6rem;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    width: 16.5rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem;     */
    /* border: 1px solid #333; */
}
.card img{
    width: 16.5rem;
    height: 20rem;
    border: 1px solid rgba(51, 51, 51, 0.13);
    padding: 3rem 2rem;
}
.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  .product-title{
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1rem;
        text-align: center;
  }
  .product-price{
      color: red;
  }

  /* brands */
  .brands{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem 2rem;
      max-width: 600px;
      margin: 2rem auto;
  }
  .brands span{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .brands img{
      width: 9rem;
  }