/* reset style and define my default style */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: var(--color-headings);
}
ul{
  list-style: none;
}
:root{
  --color-navbar: #E7EAEF;
  --color-menu:#D6D6D6;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
}
html{
  font-size: 62.5%;
}
@font-face {
  font-family: "tenor";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/TenorSans-Regular.ttf");
}

body{
  font-family: "tenor";
}
h1,h2,h3{
  font-weight: 400;
}

h1{
  font-size: 1.8rem;
  line-height: 4rem;
  color: var(--color-headings);
  letter-spacing: .4rem;
}
h2{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-body);
}
h3{
  font-size: 1.4rem;
  line-height: 1.48rem;
}
h4{
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--color-body);
}

.App{
  min-height: 100vh;
  position: relative;
}
.container{
  max-width: 450px;
  margin: 4rem auto;
  overflow:hidden;
  padding: 1rem 2rem;
}
.btn{
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  border-radius: .5rem;
  width: 100%;
}
.btn-primary{
  background-color: #000;
  color: #FCFCFC;
  transition: all .15s ease-in-out;
}
.btn-primary:hover{
  background-color: #0473ea;
}