.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: .1rem;
    width: 100%;
}
input[type="text"],
  input[type="email"],
  input[type="password"]
  {
    padding: 1rem 2rem;
    border: 1px solid rgba(179, 136, 136, 0.445);
    border-radius: 5px;
    width: 100%;
    color: rgb(41, 24, 24);
    margin:.8rem 0px ;
}
form div input:focus {
    outline: none;
    border: 2px solid #333;
  }
  .error {
    color: red;
    font-size: 1.2rem;
  }